@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: white;
  transition: background-color 0.3s ease;
}

.dark body {
  background-color: #101010;
}

::-webkit-scrollbar {
  width: 0px;
}
